* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

/*============ VARIABLES ============ */
:root {
  --header-height: 4.5rem;

  /* MARGIN*/

  /* COLORS */
  --hue: 37;
  /* HSL color mode*/
  --base-color: hsl(var(--hue) 10% 90%);
  --base-color-primary: hsl(var(--hue) 9% 48%);
  --base-color-second: hsl(var(--hue) 25% 65%);
  --base-color-alt: hsl(var(--hue) 0% 0%);

  --title-color: hsl(var(--hue) 60% 20%);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(var(--hue) 30% 50%);
  --body-font-color: hsl(var(--hue) 50% 30%);

  /* FONTS */
  --title-font-size: 1.875rem;
  --subtitle-font-size: 1rem;
  --title-destaque-size: 2rem;

  --title-font: 'Lobster', sans-serif;
  --title-destaque: 'Poppins', sans-serif;
  --subtitle-font: 'Poppins', sans-serif;
  --body-font: 'DM Sans', sans-serif;
}

/*============ BASE ============ */
html {
  scroll-behavior: smooth;
}

body {
  background: #5e5e5e;
}
.title {
  font: 700 var(--title-font-size) var(--title-font);
  color: var(--title-color);
  -webkit-font-smoothing: antialiased;
}
.typing {
  color: red;
}
/*============ LAYOUT ============ */
.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.grid {
  display: grid;
  gap: 2rem;
}
#header {
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 2rem;
  display: flex;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--body-color);
  width: 100%;
}

/*============ LOGO ============ */
.logo {
  font: 400 2rem var(--title-font);
  color: var(--title-color);
}

/*============ NAVIGATION ============ */
nav {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/*============ DEPOIMENTOS ============ */

/*============ MEDIA QUERIES ============ */
/* extra large devices: 1200 > */
@media (min-width: 1200px) {
  /* reusable classes */
  .container {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }

  /* navigation */
  nav .menu {
    opacity: 1;
    visibility: visible;
    top: 0;
  }
  nav ul li {
    text-align: center;
  }
  nav ul li a {
    transition: color 0.2s;
    position: relative;
  }
  nav ul li a:hover,
  nav ul li a.active {
    color: var(--base-color);
  }
  nav .menu ul {
    display: flex;
    gap: 2rem;
  }
  nav .menu ul li a.title {
    font: 400 1rem var(--title-font);
    -webkit-font-smoothing: antialiased;
  }
  nav .menu ul li a.title.active {
    font-weight: bold;
    -webkit-font-smoothing: auto;
  }
  /* Layout */
  main {
    margin-left: var(--header-height);
    margin-right: var(--header-height);
  }
  /* Destaque */
  #destaque .text .title {
    color: white;
    font: 700 var(--title-destaque-size) var(--title-destaque);
    position: absolute;
    top: 30rem;
    margin-left: 3rem;
  }
  /* Galeria */
  #galeria {
    padding: 4rem;
    background-color: var(--base-color-primary);
    width: auto;
    right: auto;
  }
  #galeria .fotos {
    display: flex;
    position: relative;
  }
  #galeria img {
    object-fit: cover;
    position: relative;
    width: 15rem;
  }
  /* Serviços */
  #servicos {
    padding: 4rem;
    background: var(--base-color-second);
  }
  #servicos .descricao h1 {
    margin-bottom: 1rem;
    font: 400 2rem var(--title-font);
    color: var(--title-color);
  }
  #servicos .descricao p {
    color: var(--body-font-color);
    margin: 0 1rem;
    font: 500 1rem var(--body-font);
  }
  .servico-1,
  .servico-2 {
    display: flex;
    position: relative;
  }
  .servico-1 .descricao {
    width: 50%;
    margin-left: 1.45rem;
    text-align: justify;
  }
  .servico-2 .descricao {
    width: 50%;
    margin-right: 1.45rem;
    text-align: justify;
  }
  .imagem {
    width: 52.5%;
  }
  /* Depoimento */
  #depoimentos {
    padding: 4rem;
    background: var(--base-color-primary);
  }
  #depoimentos .container {
    background-color: #946d3c;
  }
  #depoimentos .card {
    display: flex;
    align-items: center;
  }

  .card img {
    margin: 30px 0 30px 30px;
    width: 50%;
    border-radius: 50%;
  }

  #depoimentos .text {
    margin: 0 30px;
  }
  .text h1 {
    color: red;
  }
  .text p {
    color: blue;
  }

  /* Rodapé */
  #footer {
    background: #15080d;
    padding: 4rem;
  }
  .rodape h1 {
    font: 400 1rem var(--title-font);
    color: white;
  }
  .rodape p {
    color: antiquewhite;
  }
}
